<div id="editPost" class="card my-3">
  <div class="card-header navbar-dark bg-dark d-flex justify-content-between align-items-center">
    <h4>Edit Post</h4>
  </div>
  <div class="card-body text-center bg-info bg-opacity-50 text-dark w-100 m-auto p-auto border border-dark border-top-0 border-4 rounded-bottom">
    <form id="editBlog" data-blogid="{{blog.id}}">
      <div class="mb-3 mx-2 text-start text-dark">
        <label for="title" class="form-label">Title</label>
        <input id="title" type="text" class="form-control" name="title" value="{{blog.title}}">
      </div>
      <div class="mb-3 mx-2 text-start text-dark">
        <label for="content" class="form-label">Content</label>
        <textarea id="content" type="text" class="form-control" name="content">{{blog.content}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary w-75 mb-3">Update Post</button>
      <button type="submit" class="btn btn-primary w-75">Delete</button>
    </form>
  </div>
</div>

<script src="/js/editBlog.js"></script>